<div style="width:200px;float:left;" class="summary-overview">                        
  <span class="stamped-summary-caption stamped-summary-caption-1">                            
    <span class="stamped-summary-text-1" data-count="4543" data-rating="4.9"><strong>4.9</strong>
    </span>                          
  </span>                        
  <span class="stamped-starrating stamped-summary-starrating" aria-hidden="true"> 
    <i class="stamped-fa stamped-fa-star" aria-hidden="true"></i>
    <i class="stamped-fa stamped-fa-star" aria-hidden="true"></i>
    <i class="stamped-fa stamped-fa-star" aria-hidden="true"></i>
    <i class="stamped-fa stamped-fa-star" aria-hidden="true"></i>
    <i class="stamped-fa stamped-fa-star" aria-hidden="true"></i> 
  </span>                        
  <span class="stamped-summary-caption stamped-summary-caption-2">                             
    <a href="https://www.floorcity.com/a/review/all?collectionId={{ collection.id }}&collectionTitle={{ collection.title }}"><span class="stamped-summary-text" data-count="4543" data-rating="4.9">Based on <span class="ratings-count">4,543</span> Reviews</span></a>                      
  </span>                   
</div>